<!DOCTYPE html>
<html lang="en">
<head>
  <title>DSD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<head>
  <title>DSD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron text-center">
  <h1>Distribuição de Serviços de Docentes</h1>
</div>



<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Perfil</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">  </div>

        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td>Nome</td>
              <td>Adalberto</td>
            </tr>
            <tr>
              <td>Área</td>
              <td>Informática</td>
            </tr>
            <tr>
              <td>Data inicial do contrato:</td>
              <td>06/23/2013</td>
            </tr>
            <tr>
              <td>Data de Nascimento</td>
              <td>01/24/1988</td>
            </tr>

            <tr>
            <tr>
              <td>Sexo</td>
              <td>Masculino</td>
            </tr>
            <tr>
              <td>Morada</td>
              <td>Nepal</td>
            </tr>
            <tr>
              <td>Email</td>
              <td><a href="mailto:flpeixoto41@gmail.com">flpeixoto41@gmail.com</a></td>
            </tr>
            <td>Contacto</td>
            <td>961234578<br></td>

            </tr>

            </tbody>
          </table>

          <a href="#" class="btn btn-primary">My Sales Performance</a>
          <a href="#" class="btn btn-primary">Team Sales Performance</a>
        </div>
      </div>
    </div>

  </div>
</div>
</html>
